
@{
    ViewBag.Title = "Index";
}

<div class="login-container">
    <div class="inputs-container">
        <h1>Login</h1>

        <div class="rows">
            <label>User: </label>
            <input class="User" />
        </div>

        <div class="rows">
            <label>Password: </label>
            <input class="Password" />
        </div>

        <div class="rows">
           <button class="center-button">Iniciar sesion</button>
        </div>
    </div>

</div>

